<html xmlns:wicket="http://wicket.apache.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body data-spy="scroll" data-target="#navScrollspy">
<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #e3f2fd;">
    <a href="CodeSnippetsPage.html" class="navbar-brand">Snippet</a>
    <div class="collapse navbar-collapse" id="header">
        <ul class="navbar-nav" id="navScrollspy">
            <li class="nav-item">
                <a class="nav-link" href="#" wicket:id="snippetsPage">Source code snippets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" wicket:id="screenshotsPage">Screenshots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" wicket:id="howtosPage">HOW-TO</a>
            </li>
            <li class="nav-item">
                <wicket:link><a class="nav-link" href="SignedOut.html">Sign Out</a></wicket:link>
            </li>
        </ul>
    </div>
</nav>
<section id="top" class="jumbotron jumbotron-fluid">
    <div id="body" class="container">
        <wicket:child/>
    </div>
</section>
<footer class="navbar navbar-light navbar-expand-md fixed-bottom" style="background-color: #e3f2fd;">
    <div class="container">
        <span wicket:id="footer"></span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>