<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
    <title>Screenshots</title>
</wicket:head>
<body>
<wicket:extend>
    <form wicket:id="screenshotsForm" id="screenshotsForm">
        <div class="form-group">
            <label for="title">Enter screenshot title:</label>
            <input type="text" id="title" class="form-control" wicket:id="title"/>
        </div>
        <div class="form-group">
            <label for="screenshotUpload">Select screenshot file:</label>
            <input id="screenshotUpload" wicket:id="screenshotUpload" type="file" size="35" accept=".png, .jpg, .jpeg, .ico"/>
        </div>
        <input type="submit" class="btn btn-dark" value="Submit" id="formsubmit"/>
    </form>
    <div wicket:id="screenshots" id="screenshots">
        <span wicket:id="dateTime"></span><br/>
        <span wicket:id="title"></span><br/>
        <img wicket:id="screenshotImage"/>
    </div>
</wicket:extend>
</body>
</html>